@font-face {
    font-family: 'Inter';
    src: url(/src/assets/Fonts/Inter_18pt-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(/src/assets/Fonts/Poppins-Regular.ttf) format('truetype');
}